* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.container {
  max-width: 1300px;
  padding: 0 350px;
  margin: 0 auto;
}

.check__content {
  padding: 50px 70px;
  background: #eeeeee;
  box-shadow: 1px 1px 8px;
  border-radius: 8px;
  margin-top: 20px;
}
.check__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}
.check__title {
  font-family: "Inter", sans-serif;
}
.check__right {
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.check__search {
  padding-left: 15px;
  width: 200px;
  height: 35px;
}
.check__row {
  display: flex;
  justify-content: center;
  column-gap: 44px;
  flex-wrap: wrap;
  padding: 0 100px;
}
.check__underfined {
  text-align: center;
  margin: 30px 0;
}
.check__sum {
  display: flex;
  justify-content: center;
}
.check__card {
  max-width: 180px;
}
.check__card-img {
  width: 100%;
  margin-bottom: 25px;
}
.check__card-title {
  font-style: normal;
  font-size: 17px;
  line-height: 15px;
  font-family: "PT Sans Narrow", sans-serif;
  letter-spacing: 3px;
}
.check__card-price {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 20px;
  color: #515759;
  margin: 5px 0 12px;
}
.check__card-btns {
  display: flex;
  column-gap: 15px;
}
.check__card-btn {
  background-color: #008CBA;
  padding: 3px 3px;
  width: 55px;
  border: none;
  border-radius: 3px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
}

.header__nav {
  display: flex;
  flex-direction: row;
  border-radius: 8px;
}
.header__logo {
  min-width: 20%;
  display: flex;
  align-items: center;
  column-gap: 5px;
  background-color: #bcbcbc;
  justify-content: center;
  -webkit-box-shadow: -3px 5px 10px 3px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: -3px 5px 10px 3px rgba(34, 60, 80, 0.2);
  box-shadow: -3px 5px 10px 3px rgba(34, 60, 80, 0.2);
  height: 60px;
  border-radius: 2px;
}
.header__list {
  display: flex;
  justify-content: center;
  width: 80%;
  background: #eeeeee;
  color: black;
  height: 60px;
  align-items: center;
  column-gap: 55px;
  border-radius: 2px;
}
.header__list__item {
  font-family: "Titillium Web", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.App {
  background: #707070;
  padding-top: 50px;
}

body.active-overlay {
  overflow-y: hidden;
}

.btn-active {
  color: red;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5019607843);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.overlay__popup {
  max-width: 400px;
  width: 100%;
  background: #eeeeee;
  display: flex;
  flex-flow: column;
  -webkit-box-shadow: 0px -5px 5px -5px rgba(255, 255, 255, 0.6) inset;
  -moz-box-shadow: 0px -5px 5px -5px rgba(255, 255, 255, 0.6) inset;
  box-shadow: 0px -5px 5px -5px rgba(255, 255, 255, 0.6) inset;
  border-radius: 10px;
}
.overlay__closeBtn {
  justify-content: center;
  padding: 3px;
  width: 33px;
  display: flex;
  float: right;
  border: none;
  font-size: 22px;
}
.overlay__form {
  padding: 10px 70px;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}
.overlay__title {
  float: left;
  font-size: 28px;
  line-height: 200%;
}
.overlay__subtext {
  line-height: 200%;
  margin: 12px 0 25px;
}
.overlay__label {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-bottom: 20px;
}
.overlay__label-text {
  font-size: 14px;
  color: darkslateblue;
}
.overlay__label-field {
  padding: 5px 0;
  width: 250px;
  font-size: 16px;
}

/*# sourceMappingURL=style..css.map */
